
  <div class="jumbotron text-center">
<app-nav-bar></app-nav-bar>
<br><br/>
  <div class="container">

  <carousel>
  <slide>
    <img src="assets/1.jpg" class="img" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Mazda 3</h3>
      <p>Engine, Transmission, and Performance!</p>
    </div>
  </slide>
  <slide>
    <img src="assets/2.jpg" class="img" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Chevrolet Spark</h3>
      <p>The simple smart way to drive!</p>
    </div>
  </slide>
  <slide>
    <img src="assets/4.jpg" class="img" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Audi A4</h3>
      <p>The Culture Drive — in tune with the city</p>
    </div>
  </slide>
  
</carousel>

  </div>